/* Coolors Exported Palette - coolors.co/4c5b5c-ff715b-f9cb40-bced09-2f52e0 */

/* HSL */
$color1: hsla(184%, 10%, 33%, 1);
$color2: hsla(8%, 100%, 68%, 1);
$color3: hsla(45%, 94%, 61%, 1);
$color4: hsla(73%, 93%, 48%, 1);
$color5: hsla(228%, 74%, 53%, 1);

/* RGB */
$color1: rgba(76, 91, 92, 1);
$color2: rgba(255, 113, 91, 1);
$color3: rgba(249, 203, 64, 1);
$color4: rgba(188, 237, 9, 1);
$color5: rgba(47, 82, 224, 1);