body {
    font-family: 'Sen', sans-serif;
    background-color: #B8B3E9;
}

.navbar-light {
    background-color: #90E0F3;
}

/* body {
  background: url(https://venngage-wordpress.s3.amazonaws.com/uploads/2018/09/Colorful-Circle-Simple-Background-Image-1.jpg) no-repeat center center;
  background-size: cover;
} */
