<!doctype html>
<html>
<head>
    <!-- bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- my css  -->
    <link rel="stylesheet" href="/static/style.css">

    <!-- jQuery  -->
    <script
    src="https://code.jquery.com/jquery-3.4.1.js"
    integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>

  <title>{% block title %} TITLE HERE {% endblock %}</title>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
              <div class="alert alert-primary">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}

</head>

<body>

  {% block content %} put your content here {% endblock %}
  {% block logout %}

    {% if session.get("user_id") %}
        <a href="/logout">LOGOUT</a>
    {% endif %}

  {% endblock %}
{% block scripts %}
<script src="/static/displayPlaylists.js"></script>

<script src="https://sdk.scdn.co/spotify-player.js"></script>
<script src="/static/spotifyWebSDK.js"></script>
{% endblock %}
</body>
</html>
