{% extends 'base.html' %}
{% block content %}
{% block title %} Choose songs {% endblock %}

<h2>{{ artist.artist_name }} Setlist</h2>

<h3></h3>

  <ul>
    {% if playlists %}
        {% for playlist in playlists %}
            <h3> {{ playlist.playlist_title }} </h3>
            {% for song in playlist.songs %}
              <li>
                {{ song.song_name }}
                /
                {{ song.artist.artist_name }}
                </a>
              </li>
            {% endfor %}
        {% endfor %}
    {% endif %}
  </ul>

{% endblock %}
