{% extends 'base.html' %}
{% block content %}
{% block title %}{% endblock %}
{% block homepage %}{% endblock %}
<h2>My playlists</h2>
  <div id=token value="{{ session['access_token'] }}" style="display: none;"></div>
  <ul>
    {% if playlists %}
        {% for playlist in playlists %}
            <h3> {{ playlist.playlist_title }} </h3>
            <form class="play-playlist" id="{{ playlist.playlist_id }}"action='/play-music' method="GET">
                <input type="submit" value="Play this Playlist"/>
            </form>
            <br>
            <div class='now-playing' id='now-playing-{{ playlist.playlist_id }}' style="display: none;"></div>
            <br>
            <div class='player-buttons' id="player-buttons-{{ playlist.playlist_id }}" style="display: none;">
                <button class="prev-button" id="prev-{{ playlist.playlist_id }}">previous track</button>
                <button class="pause-play-button" id="pause-play-{{ playlist.playlist_id }}">pause/play</button>
                <button class="next-button" id="next-{{ playlist.playlist_id }}">next track</button>
            </div>
            {% for song in playlist.songs %}
              <li>
                {{ song.song_name }}
                /
                {{ song.artist.artist_name }}
                </a>
              </li>
            {% endfor %}
            <form action='/add-to-spotify-playlist' method="POST">
                <input type='hidden' name="playlist_title" value='{{ playlist.playlist_title }}' />
                <input type="submit" value="Add playlist to Spotify?"/>
            </form>
            <br>
            <form action='/delete-playlist' method="POST">
                <input type='hidden' name="playlist_title" value='{{ playlist.playlist_title }}' />
                <input type="submit" value="Delete this playlist?"/>
            </form>
            <br>
            <br>
        {% endfor %}
    {% endif %}
  </ul>

  {% block logout %}{% endblock %}
  <script src="https://sdk.scdn.co/spotify-player.js"></script>
  <script src="/static/spotifyWebSDK.js"></script>
{% endblock %}
