{% extends 'base.html' %}
{% block content %}
{% block title %}{% endblock %}

<h2>My playlists</h2>

  <ul>
    {% if playlists %}
        {% for playlist in playlists %}
            <h3 id="playlist_title"> {{ playlist.playlist_title }} </h3>
            {% for song in playlist.songs %}
              <li>
                {{ song.song_name }}
                /
                {{ song.artist.artist_name }}
                </a>
              </li>
            {% endfor %}
            <button id="add-to-spotify-button">Add playlist to Spotify?</button>
        {% endfor %}
    {% endif %}
  </ul>

    <!-- <script src="https://sdk.scdn.co/spotify-player.js"></script>
    <script src="/static/spotifyWebSDK.js"></script> -->


{% endblock %}
