{% extends 'base.html' %}
{% block content %}
{% block title %} Playlist Creator {% endblock %}

<h1>Homepage</h1>

<p>Playlist creator generates a playlist from your favorite artists' setlists and top songs.</p>

<!-- <a href="/create-playlist">Create playlist</a>
<br><br> -->
<a href="/add-to-playlist">Add to playlist</a>
<br><br>
<a href="/display-playlists">View playlists</a>
<button id="display-playlists-button">View playlists</button>
<div id="playlists-display"></div>
<br><br>
<a href="/clear-playlists">Clear playlists</a>

{% endblock %}
