{% extends 'base.html' %}
{% block content %}
{% block title %} Playlist Creator {% endblock %}

<h1>Homepage</h1>

<p>Playlist creator generates a playlist from your favorite artists' setlists and top songs.</p>

{% block homepage %}{% endblock %}

<!-- <a href="/create-playlist">Create playlist</a>
<br><br> -->

<a href="/spotify-account">Connect to Spotify</a>
<br><br>

{% if session.get("user_id") %}
    <a href="/user-dashboard/{{ session.get("user_id") }}">My Dashboard</a>
{% endif %}
<br><br>


{% endblock %}
