{% extends 'base.html' %}
{% block content %}
<div style="display:none;">
{% block title %}Playlistify{% endblock %}
</div>

<div class="homepage-container">
    <div class="homepage">

        <img src="static/images/logo.png">

        <p>Playlistify creates playlists from your favorite artists' setlists and top songs.</p>
        <p>Listen to your playlists here, or add them to your Spotify account and listen to them later!</p>
        {% if not session.get("access_token") %}
            <p>Connect your Spotify Account to get started!</p>
        {% endif %}

        <p>**** PLAYLISTIFY IS CURRENTLY UNDERGOING MAINTENANCE ****</p>
        <p> visit https://github.com/vivsnguyen/playlistify for updates </p>

        {% block homepage %}{% endblock %}

        <div class="fullscreen-bg">
            <video loop muted autoplay poster="static/images/Live-Music.jpg" class="fullscreen-bg__video">
                <source src="static/video/Live-Music.mp4" type="video/mp4">
            </video>
        </div>

        {% if session.get("access_token") %}
                <h3>Spotify account connected.</h3>

                {% if session.get("user_id") %}
                    <h5><a class="nav-link" href="/user-dashboard/{{ session['user_id'] }}">Go to your dashboard to get started!</a></h5>
                {% endif %}


        {% else %}

                <form action="/spotify-login">
                    <button type="submit" class="btn btn-primary"> Connect to Spotify </button>
                </form>

        {% endif %}

        <br>

        {% if session.get("access_token") %}
            {% if not session.get("user_id") %}
                <form action="/log-in">
                    <button type="submit" class="btn btn-primary"> User Log-In </button>
                </form>
            {% endif %}
        {% endif %}

        <br><br>

        <!-- <a href="/play-music">play music</a>
        <br><br> -->

        <!-- {% if session.get("user_id") %}
            <a href="/user-dashboard/{{ session.get("user_id") }}">My Dashboard</a>
        {% endif %}
        <br><br> -->


        {% endblock %}

    </div>
</div>
